:root {
	--md-primary-fg-color: hsl(266, 80%, 19%);
	--md-primary-fg-color--light: hsl(266, 100%, 60%);
	--md-primary-fg-color--dark: hsl(266, 80%, 15%);
}

[data-md-color-scheme="default"] {
	--md-typeset-a-color: hsl(266, 100%, 60%);
}

[data-md-color-scheme="slate"] {
	--md-typeset-a-color: hsl(266, 80%, 70%);
}

td > .color-cell {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

th.color-name, td.color-name {
	vertical-align: middle !important;
	text-align: right !important;
}

th.color-name, td.color-color {
	/* vertical-align: middle !important; */
	text-align: center !important;
}

th.color-hex, td.color-hex {
	vertical-align: middle !important;
}
